body{
    background-color: #85FFBD;
background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
;
}

.center {
    text-align: center;
}




.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

#menu li{
    display: inline;
    padding: 15px;
    font-size: 20px;
}

#menu li a{
    text-decoration: none;
    color: black;
}

#menu li a:hover{
    color: rgb(128, 128, 128);
}

.text{
    padding: 30px;
}

.justify{
    text-align: justify;
}


.tam{
    width: 50px;
    height: 50px;
    padding: 10px;
}

.mb-50{
    margin-bottom: 50px;
}


.map{
    margin-left: 50px;
    margin-bottom: 50px;
}

.ml-50 {
    margin-left: 50px;
}


